@page "/registrar"
@using System;
@using System.Linq;
@using Homework9.Models;
@using Microsoft.EntityFrameworkCore
@inject DbContextOptions<vaccinesContext> options
@inject IJSRuntime JSRuntime

<h3>Registrar vacunados</h3>
<hr />
<div class="container">
    <form class="form">

        <div class="form-group">
            <label>Cedula</label>
            <input class="form-control" @bind="cedula" placeholder="Cedula" />
        </div>

        <div class="form-group">
            <label>Nombre</label>
            <input class="form-control" placeholder="Nombre" @bind="nombre" />
        </div>

        <div class="form-group">
            <label>Apellido</label>
            <input class="form-control" placeholder="Apellido" @bind="apellido" />
        </div>

        <div class="form-group">
            <label>Telefono</label>
            <input class="form-control" placeholder="Telefono" @bind="telefono" />
        </div>

        <div class="form-group">
            <label>Correo Electronico</label>
            <input class="form-control" placeholder="Correo Electronico" @bind="correo" />
        </div>

        <div class="form-group">
            <label>Fecha de nacimiento</label>
            <input type="date" class="form-control" placeholder="Fecha de nacimiento" @bind="fecha" />
        </div>

        <div class="form-group">
            <label>Provincia</label>
            <input class="form-control" placeholder="provincia" @bind="provincia" />
        </div>

        <div class="form-group">
            <label>Direccion</label>
            <input class="form-control" placeholder="Direccion" @bind="direccion" />
        </div>


        <div class="form-group">
            <label>Tipo de Sangre</label>
            <select class="form-control" @bind="sangre">
                @foreach(var bld in Blood()) {
                    <option value=@bld.Id>@bld.TipoSangre</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>¿ Le Ha dado covid ?</label>
            <select class="form-control" @bind="covid">
                <option id="si">Si</option>
                <option id="no">No</option>
            </select>
        </div>

        <div class="form-group">
            <label>Justificacion</label>
            <input class="form-control" placeholder="Justificacion por que debe vacunarse en casa"
                @bind="justificacion" />
        </div>

        <hr>
        <hr>
        <h3>Seleccione su ubicación y proceda a introducir la longitud y latitud</h3>
        <hr>
        <div class="input-group-append">
            <div id="map" style="height:500px;width:100%;"></div>
        </div>
        <hr>
        <div class="form-group">
            <label>Lat</label>
            <input class="form-control" placeholder="Latitud" @bind="latitud" />
        </div>

        <div class="form-group">
            <label>Lgt</label>
            <input class="form-control" placeholder="Longitud" @bind="longitud" />
        </div>

        <button @onclick="agregar" class="btn btn-outline-success">Guardar</button>
    </form>
</div>

@code
{
    string cedula;
    string nombre;

    string apellido;

    string telefono;

    string correo;

    DateTime fecha;

    string provincia;

    string direccion;

    int sangre;

    string covid = "Si";

    string justificacion;

    double latitud;
    double longitud;

    List<Sangre> Blood() => new vaccinesContext(options).Sangre.ToList();

    /// Map

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initAdd");
        }

    }
    void agregar()
    {
       vaccinesContext db = new vaccinesContext(options);
        Persona persona = new Persona();
        sbyte response;

        if(covid == "Si") {

            response = 1;
        } else {

            response = 0;
        }

        persona.Cedula = cedula;
        persona.Nombre = nombre;
        persona.Apellido = apellido;
        persona.Telefono = telefono;
        persona.Correo = correo;
        persona.FechaNacimiento = fecha;
        persona.Provincia = provincia;
        persona.Direccion = direccion;
        persona.Covid = response;
        persona.Justificacion = justificacion;
        persona.SangreId = sangre;
        persona.Latitud = latitud;
        persona.Longitud = longitud;
        db.Persona.Add(persona);
        db.SaveChanges();
    }

}