@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
    <hr>
    <hr>
    <div>
        <h3><a href="about" target="_blank">About to super worker group H</a></h3>
    </div>
</div>
